<section
  class="sidebar_container"
  [ngClass]="{ collapsed: sidebarService.sidebarCollapsed }"
>
  <aside
    class="sidebar"
    [ngClass]="{ sidebar_collapsed: sidebarService.sidebarCollapsed }"
  >
    <button
      class="sidebar_toggle lg:hidden"
      style="transform: none;"
      (click)="sidebarService.toggleSidebar()"
    >
      <i class="fas fa-times"></i>
    </button>
    <h1 class="sidebar_logo">
      <a routerLink="/">Book store</a>
    </h1>
    <nav class="sidebar_nav">
      <li
        class="sidebar_nav__item"
        *ngFor="let item of sidebarListOrigin"
        [routerLinkActive]="routerLinkActive(item)"
        [ngClass]="{
          hidden: item.hideOnMobile && onSmallScreen,
          'lg:hidden': item.hideOnDesktop && !onSmallScreen
        }"
      >
        <a class="sidebar_nav__link" [routerLink]="item.route">{{
          item.label
        }}</a>
      </li>
    </nav>
    <button class="sidebar_button">24 Saved</button>
  </aside>
</section>
