<main class="page_container">
  <ui-sidebar></ui-sidebar>
  <section class="page_content" [ngClass]="{ default: isDefaultLayout }">
    <div
      class="grid grid-cols-auto--1fr--auto gap-2 lg:grid-cols-2/3--auto-1fr lg:gap-0 lg:py-8"
    >
      <section class="lg:row-start-1 lg:col-start-2">
        <button class="sidebar_toggle" (click)="sidebarService.toggleSidebar()">
          <i class="fas fa-chevron-left hidden lg:inline-block"></i>
          <i class="fas fa-ellipsis-v lg:hidden"></i>
        </button>
      </section>
      <section class="lg:row-start-1 lg:col-start-1 lg:px-8 xl:px-12">
        <form class="searchbox">
          <button class="searchbox_button">
            <i class="fas fa-search"></i>
          </button>
          <input
            type="text"
            class="searchbox_input"
            placeholder="Search anything here..."
          />
        </form>
      </section>
      <section class="lg:px-8 xl:px-12">
        <ui-account-control></ui-account-control>
      </section>
    </div>
    <router-outlet></router-outlet>
  </section>
</main>
