@import "../../../_variable.scss";

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.dropdown {
  @apply relative inline-block text-left;

  &_button {
    @apply inline-flex justify-center items-center w-full rounded text-sm text-gray-500 focus:outline-none focus:ring focus:ring-salmon focus:ring-opacity-30;
  }

  &_menu {
    @apply origin-top-right absolute right-0 mt-2 w-52 rounded-md shadow-light bg-white ring-1 ring-black ring-opacity-5 transition-all opacity-0 invisible;
    animation: zoomOut $transition-duration;

    &.open {
      @apply visible opacity-100;
      animation: zoomIn $transition-duration;
    }

    &__item {
      @apply block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900;
    }
  }
}
