@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "_variable.scss";

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.page {
  &_container {
    @apply min-h-screen bg-salmon p-2 transition-all duration-300 lg:grid lg:grid-cols-auto--1fr lg:p-6;
  }

  &_content {
    @apply relative min-h-screen lg:rounded-6xl lg:overflow-hidden;

    @media screen and (min-width: $screen-lg) {
      background: linear-gradient(
        90deg,
        $lightWhite calc(100% * 2 / 3),
        $lightPink calc(100% * 1 / 3)
      );

      &.default {
        background: $lightWhite;
      }
    }
  }

  &_title,
  &_subtitle {
    @apply font-semibold text-salmon mb-3;
  }

  &_title {
    @apply text-xl;
  }

  &_subtitle {
    @apply text-lg;
  }

  &_link {
    @apply underline text-salmon;
  }

  &_card {
    @apply bg-white rounded-2xl shadow-light p-4 lg:p-6;
  }

  &_heading {
    @apply font-semibold text-lg;
  }

  &_subheading {
    @apply text-gray-500 text-sm leading-none;
  }
}

.button {
  &_primary,
  &_secondary {
    @apply inline-block border border-salmon font-semibold py-2 px-3 rounded-full tracking-widest transition-all focus:outline-none focus:ring focus:ring-salmon focus:ring-opacity-30 hover:bg-salmon hover:bg-opacity-30 hover:text-white;
  }

  &_primary {
    @apply bg-salmon text-white;
  }

  &_secondary {
    @apply bg-transparent text-salmon;

    &__noborder {
      @apply border-0;
    }
  }
}

.dropdown {
  @apply relative inline-block text-left cursor-pointer;

  &_button {
    @apply inline-flex justify-center items-center w-full rounded text-sm text-gray-500 focus:outline-none focus:ring focus:ring-salmon focus:ring-opacity-30;
  }

  &_menu {
    @apply origin-top-right absolute right-0 mt-2 w-52 rounded-md shadow-light bg-white ring-1 ring-black ring-opacity-5 transition-all opacity-0 invisible;
    animation: zoomOut $transition-duration;

    &.open {
      @apply visible opacity-100;
      animation: zoomIn $transition-duration;
    }

    &__item {
      @apply block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900;
    }
  }
}

.account {
  &_controls {
    @apply flex items-center justify-end;
  }

  &_notif {
    @apply relative text-salmon text-2xl;

    &__dot {
      @apply flex absolute top-0 right-0 w-2 h-2 bg-salmon rounded-full ring-2 ring-lightPink;
    }
  }

  &_avatar,
  &_avatar__noborder {
    @apply w-10 h-10 border-4 border-white rounded-xl overflow-hidden lg:w-12 lg:h-12 lg:rounded-2xl;

    img {
      @apply w-full h-full;
    }
  }

  &_avatar__noborder {
    @apply border-0 mr-3;
  }
}

.book {
  &_container,
  &_container--similar {
    @apply lg:shadow-none lg:bg-transparent lg:p-0;
  }

  &_cover {
    @apply inline rounded-4xl max-w-3/4 max-h-96 lg:max-w-full;

    &__small {
      @apply rounded-xl w-16 lg:w-20;
    }
  }

  &_rated {
    @apply text-yellow-400 mt-2 lg:mt-0;

    &__point {
      @apply text-gray-400 ml-1;
    }

    .no-rate {
      @apply text-lightSalmon;
    }
  }

  &_name {
    @apply text-3xl font-semibold mt-2 lg:text-5xl lg:mt-3;
  }

  &_desc {
    @apply break-words mt-2 lg:mt-6;
  }

  &_card {
    @apply grid grid-cols-auto--1fr--auto gap-3 items-center relative transform transition rounded-2xl py-4 lg:px-4 lg:hover:bg-white lg:hover:shadow-light lg:hover:-translate-x-6;

    &__name {
      @apply line-clamp-2;
    }

    &__button {
      @apply text-2xl text-salmon;
    }
  }
}

.sidebar {
  @apply w-60 h-screen overflow-auto bg-salmon shadow-2xl fixed top-0 left-0 z-50 transition-all duration-500 p-2 lg:left-6 lg:p-6 lg:pl-0 lg:bg-transparent lg:shadow-none;

  &_container {
    @apply w-60 transition-all duration-500;

    &.collapsed {
      @apply w-0 transition-all duration-500;
    }
  }

  &_collapsed {
    @apply -left-full transition-all duration-700;
  }

  &_toggle {
    @apply w-10 h-10 bg-white text-salmon text-xs rounded-xl shadow-light focus:outline-none focus:ring focus:ring-salmon focus:ring-opacity-30 lg:w-12 lg:h-12 lg:rounded-2xl lg:transform lg:-translate-x-1/2;
  }

  &_logo {
    @apply text-3xl font-bold text-white py-4;
  }

  &_nav {
    @apply list-none lg:mt-4;

    &__item {
      @apply relative text-white text-opacity-50 truncate pl-4 py-4 transition;

      &::before {
        content: "";
        width: 4px;
        height: 4px;
        @apply inline-block absolute left-0 top-1/2 -translate-y-1/2 rounded-full transition;
      }

      &:hover,
      &.active {
        @apply font-bold text-opacity-100;

        &::before {
          @apply bg-white;
        }
      }
    }

    &__link {
      @apply block;
    }
  }

  &_button {
    @apply w-full bg-white text-white text-opacity-75 bg-opacity-20 rounded-xl mt-8 p-3 transition focus:outline-none hover:bg-opacity-40 hover:text-opacity-100 lg:rounded-2xl lg:mt-12;
  }
}

.searchbox {
  @apply relative;

  &_button {
    @apply w-10 h-10 absolute top-0 left-0 text-gray-300 focus:outline-none lg:w-12 lg:h-12;
  }

  &_input {
    @apply w-full h-10 pl-10 pr-4 bg-white rounded-xl placeholder-gray-300 shadow-light focus:outline-none focus:ring focus:ring-salmon focus:ring-opacity-30 lg:h-12 lg:pl-12 lg:rounded-2xl;
  }
}
