@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "_variables.scss";

main {
  @apply w-screen h-screen;
  background-color: $salmon-1;
}

.home {
  &-container {
    @apply flex h-screen;
  }

  &-sidebar {
    @apply flex flex-col w-auto max-w-xs h-full px-8 py-10;

    &_logo {
      @apply text-3xl font-bold text-white py-4;
    }

    &_nav {
      @apply list-none mt-4;

      &__item {
        @apply relative text-white text-opacity-50 truncate pl-4 py-4 transition;

        &::before {
          content: "";
          width: 4px;
          height: 4px;
          @apply inline-block absolute left-0 top-1/2 -translate-y-1/2 rounded-full transition;
        }

        &:hover,
        &.active {
          @apply font-bold text-opacity-100;

          &::before {
            @apply bg-white;
          }
        }
      }
    }

    &_button {
      @apply bg-white text-white text-opacity-75 bg-opacity-20  rounded-lg mt-12 py-3 hover:bg-opacity-40 hover:text-opacity-100 transition;
    }
  }

  &-main {
    @apply h-full rounded-6xl;
    background: $white-1;

    &_container {
      @apply flex-1 py-4 pr-4;
    }
  }
}
